[Unit]
Description=Publish WhereHouse through mDNS
After=wherehouse.service avahi-daemon.service
Requires=wherehouse.service avahi-daemon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl restart avahi-daemon

[Install]
WantedBy=multi-user.target
